hr {
  height: 10px;
}

header {
  background-color: greenyellow ;
 
}

header h1 {
  margin: 0;
  color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:52px;
  text-align: center;
  padding: 20px 0 0px 20px;
}

nav {
  color: white;
}
img {
  border-radius: 50%;
  display: flex;
  width: 50%;
  
}

h2 {
  font-size: 40px;
  }


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: grey ;
  background-color: green;
}

p {
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

section {
 justify-content: space-evenly;
 border: 10px solid black;
 background: greenyellow;
}

.center{
  text-align: center;
}

.alignLeft {
  text-align: left;
 
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;  
}

.button {
  border: 5px solid black;
  margin: 10px;
  border-radius: 10%;
  background-color: black;
  color:white;
}
.nobullet{
  list-style-type: none;
}

footer {
  padding: 10px;
  border: 20px solid black;
}